Source: ros-verystable-move-base-msgs
Section: misc
Priority: optional
Maintainer: Steve Macenski <stevenmacenski@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-verystable-action-msgs, ros-verystable-ament-cmake, ros-verystable-geometry-msgs, ros-verystable-rosidl-default-generators, ros-verystable-ros-workspace, ros-verystable-rmw-connext-cpp, ros-verystable-rmw-fastrtps-cpp, ros-verystable-rmw-implementation, ros-verystable-rmw-opensplice-cpp, ros-verystable-rosidl-typesupport-connext-c, ros-verystable-rosidl-typesupport-connext-cpp, ros-verystable-rosidl-typesupport-opensplice-c, ros-verystable-rosidl-typesupport-opensplice-cpp
Homepage: http://wiki.ros.org/move_base_msgs
Standards-Version: 3.9.2

Package: ros-verystable-move-base-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-verystable-action-msgs, ros-verystable-geometry-msgs, ros-verystable-rosidl-default-runtime, ros-verystable-ros-workspace
Description: Holds the action description and relevant messages for the move_base package.
